<article class="article-offre">
    <div class="row div-offre">
        <div class="col-12 col-md-5 offer-img">
            <img src="{{this.firstimage}}" alt="">
        </div>
        <div class="col-12 col-md-7 offer-infos">
            <i class="fas fa-heart icon-favorit" data-offerid="{{this.id}}"></i>
            <small>Publier le {{this.date}}</small>
            <h3>{{this.title}}</h3>
            <a href="/offer/{{this.id}}" id="link-offer" data-offerid="{{this.id}}">VOIR LE BON PLAN</a>
        </div>
    </div>
</article>